# OS junk
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# VS Code
.vscode/

# Tableau temp
*.twb~
*.tmp.tde
*.hyper.tmp
*.twbr
